footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #111812;
    color: $colorTexto;
    padding: 15px 50px;

    p {
        grid-column: 1;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    ul {
        grid-column: 1;
        grid-row: 3/7;
        list-style: none;
    }
}