header {
    color: $colorTexto;

    h1 {
        padding: 8px 0 0 10px;
        font-size: 4rem;
        transition: 1s;
    
        &:hover {
            text-shadow: -1px 0 #1a2c1d, 0 1px #1a2c1d, 1px 0 #1a2c1d, 0 -1px #1a2c1d, 0 0 5px #F2E8CF;;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 767px) {

        h1 {
            background-image: linear-gradient(170deg, #386641 40%, #1a2c1d);
        }
    
        ul {
            padding: 5px 0 5px 0;
            background-image: linear-gradient(#111812 0% .01%, #2d3d30 5% 95%, #111812 99.9%);
        }
    
        li {
            padding: 5px 0 0 10px;
            font-size: 1.5rem;
            transition: 0.3s;
    
            &:hover {
                background-color: #578560;
                transform:
                    scale(1.01);
            }
        }
    }

    @media only screen and (min-width: 768px) {

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            background-image: linear-gradient(170deg, #386641 40%, #1a2c1d);
    
        ul {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 0 10px;
        }
    
        li {
            padding: 0 10px;
            font-size: 1.5rem;
            transition: 1s;
    
            &:hover {
                transform:
                    scale(1.2);
            }
        }
    }
}






