.cabaña {
    section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
    }

    @media only screen and (min-width: 0px) and (max-width: 767px) {
        img {
            width: 100%;
        }

        display: flex;
        flex-flow: column nowrap;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        flex-flow: row nowrap;

        img {
            width: 300%;
        }
    }

    span {
        align-self: center;
        background: radial-gradient(circle, rgba(56,102,65,1) 63%, rgba(136,186,105,1) 100%);
        box-shadow: 0 0 15px black;
        padding: 10px 30px;
        margin: 20px 0;
        border-radius: 25px;
        text-align: center;
        font-size: 2rem;
        transition: 3s;

        &:hover {
            box-shadow: 0 0 15px #F2E8CF;
            transform: 
                scale(1.2);
        }
    }

}